:root{
    --bg-dark-blue: #001736;
    --bg-bluee: #0D3F82;
    --bg-blue: #203C86;
    --bg-little-blue: #3A95E9;

    --color-blue: #2648A1;
    --color-yellow: #FFC82C;
    --color-orange: #E7982F;
    --color-white: #FAFAFC;
    --color-white2: #ffffff48;

    --max-width: 600px;
}

@media (max-width: 600px) {
    .redes{
        display: none;
    }
}

body{
    margin: auto;
    font-family: "Montserrat", serif;
    font-size: 14px;
}

.redes{
    color: var(--color-white);
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    border-bottom: 1px solid var(--color-white2);
    
}

.redes img{
    margin-left: 20px;
    
}

.header{
    background: var(--bg-blue);
    
    
}



.container{
    width: 80%;
    padding: 5px;
    height: 113px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.header span li {
    list-style: none;
    margin: 10px;
    display: inline;
    
}

.header span li a{
    text-decoration: none;
    color: var(--color-white);
}

.header span li a b{
    border-bottom: 3px solid var(--color-yellow);
    padding-bottom: 32px;
    
}

section .container{
    width: 40%;
    padding: 20px;
    height: 114px;
    margin: 40px auto;

}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

<<<<<<< HEAD:asstes/style2.css
.container em{
    display: flex;
    justify-content: flex-end;
    color: var(--color-blue);
}

.container small{
    display: flex;
    justify-content: flex-end;
}

.container-info{
    max-width: 1200px;
    width: 60%;
    padding: 20px;
}
=======
section .right{
    margin: 40px;
    display: flex;
    justify-content: flex-end;
    color: var(--color-blue);
    flex-direction: column;
    align-items: flex-end;
}



section .right small{
    display: flex;
    justify-content: flex-end;
    color: black;
}

section img{
    margin-top: 60px;
    margin-bottom: 60px;
}

.container-info{
    margin: 0 auto;
    width: 40%;
    display: flex;
    
}

img{
    max-width: 100%;
}

>>>>>>> 129b8af9461c5c6f3a1465044d5649ba03d31c27:asstes/image/style2.css
